# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# -----------------------------
# Virtual Environment
# -----------------------------
venv/
env/
ENV/
.venv/

# -----------------------------
# Jupyter Notebook
# -----------------------------
.ipynb_checkpoints
notebooks/

# -----------------------------
# Environment Variables
# -----------------------------
.env
.env.*

# -----------------------------
# Logs
# -----------------------------
logs/
*.log

# -----------------------------
# Dataset Files
# -----------------------------
dataset/
data/
datasets/

# -----------------------------
# Model Files (Important for ML)
# -----------------------------
models/
checkpoints/
*.pth
*.pt
*.h5
*.ckpt

# -----------------------------
# Temporary Files
# -----------------------------
tmp/
temp/
*.tmp

# -----------------------------
# IDE / Editor
# -----------------------------
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# -----------------------------
# OS Files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Output / Results
# -----------------------------
outputs/
output/
results/
predictions/

# -----------------------------
# Cache
# -----------------------------
.cache/
